*{
    font-family: "Raleway", sans-serif; 
    margin: 0; 
    padding: 0; 
}

h1, h2, p{
    margin-left: 25%; 
}

h1{
    padding-top: 1.5em;
}

ul{
    list-style-type: none; 
    width: 20%;
    background-color: #C31414;
    position: fixed; 
    height: 100%; 
    position: fixed; 
    overflow: auto; 
}

ul li{
    border-bottom: 0.5px solid #fff; 
}

li a{
    display: block; 
    color: #fff; 
    text-decoration: none; 
    padding: 12px; 
}

li a.active{
    background-color: #fff; 
    color: #C31414; 
    font-weight: 600; 
}

li a:hover{
    background-color: #fff; 
    color: #C31414; 
}