*{
    font-family: "Raleway", sans-serif;
    margin: 0; 
    padding: 0; 
}

.top-img{
    width: 100%;
    height: 265px;
}

h1, h2, h3, p, button, .wrapper, .fonts{
    margin-left: 25%; 
}

h1{
    padding-top: 1.5em;
    padding-bottom: 0.1em; 
}

h2{
    padding-bottom: 0.1em;
}

h3{
    margin-bottom: 0.5em;
    margin-top: 1em;
}

p{
    padding-bottom: 1.5em;
}

.img-wrapper{
    margin-left: 25%;
    display: flex; 
    flex-wrap: wrap;
    margin-bottom: 60px; 
}

img{
    padding: 30px; 
}

#no-left-margin{
    margin-left: 0; 
}

.button-index{
    background-color: #C31414;
    border: none; 
    color: #fff; 
    border-radius: 8px; 
    font-size: 1em; 
    text-transform: none; 
    padding: 11px 20px 9px 20px; 
    cursor: pointer; 
    margin-bottom: 2em;
    margin-top: -1em;
}

/*Koder*/
.code-container{
    background-color: #fff; 
    border-radius: 3px; 
    color: #333;
    margin: 20px 0; 
    margin-left: 25%; 
    text-transform: none; 
    display: block; 
    border: 1px solid #ddd;
    width: 70%;
}

.code-container header{
    background-color: #f2f2f2;
    border-radius: 3px 3px 0 0; 
    padding: 8px 10px; 
    border-bottom: 1px solid #ddd;
    font-size: 1.5em;
}

.code-container p, xmp{
    background-color: #fff;
    border-radius: 3px 3px 0 0; 
    padding: 8px 10px; 
    border-bottom: 1px solid #ddd;
    font-size: 1em;
    margin-left: 0; 
}

/*Navigation*/
ul{
    list-style-type: none; 
    width: 20%;
    background-color: #C31414;
    position: fixed; 
    height: 100%; 
    overflow: auto; 
}

ul li{
    border-bottom: 0.5px solid #fff; 
}

li a{
    display: block; 
    color: #fff; 
    text-decoration: none; 
    padding: 12px; 
}

li a.active{
    background-color: #fff; 
    color: #C31414; 
    font-weight: 600; 
}

li a:hover{
    background-color: #fff; 
    color: #C31414; 
}

/*typografi*/
.fonts{
    margin-bottom: 30px;
}

.family-name{
    color: #333; 
    font-size: 18px; 
    line-height: 1.3; 
    font-weight: 700; 
    text-transform: none; 
    font-style: normal; 
    text-decoration: none; 
    margin-top: 0; 
    margin-bottom: 10px; 
    letter-spacing: normal; 
    margin-left: 0;
}

.font-row{
    margin: 30px 0; 
    box-sizing: border-box; 
}

.font-row:before, .font-row:after{
    content: "";
    display: table; 
}

.font-col{
    float: left
}

.font-col:first-child{
    width: 150px;  
}

.font-col:nth-child(2){
    width: 450px; 
}

.font-col:nth-child(3){
    width: 160px; 
}

.font-preview-character{
    font-style: normal; 
    display: block; 
    font-size: 90px; 
    color: #333; 
}

.light{
    font-weight: 300; 
}

.regular{
    font-weight: 400; 
}

.medium{
    font-weight: 500; 
}

.semibold{
    font-weight: 600; 
}

.bold{
    font-weight: 700; 
}

.ekstra-bold{
    font-weight: 800; 
}

.black{
    font-weight: 900; 
}

.turbinado{
    font-family: "dancing script", cursive; 
}

.montserrat{
    font-family: "montserrat", sans-serif;
}

.font-preview{
    font-weight: 300; 
    font-style: normal; 
    display: block; 
    font-size: 18px; 
    color: #333; 
    margin-top: 5px; 
    line-height: 1.5;  
    padding: 0 20px 0 0; 
    margin-right: 30px; 
    box-sizing: border-box; 
    border-right: 2px solid #eee; 
}

.font-name{
    display: block; 
    color: #000; 
    line-height: 1.5; 
    margin-top: 5px; 
    font-size: 0.9em; 
    margin-bottom: 5px; 
}

.font-weight, .font-style{
    color: #333; 
    font-size: 13px; 
    margin-bottom: 5px;
}

.font-row:after{
    clear: both; 
}

/*farver*/
.h2-no-p{
    margin-bottom: 0.5em;
}

.wrapper{
    display: flex; 
    flex-wrap: wrap;
    padding-bottom: 3em;
}

.farve{
    margin-right: 25px;
    border: 1px solid #ebebeb;
    box-shadow: 1px 1px 4px #ebebeb; 
    margin-bottom: 30px; 
}

.farve-navn{
    font-size: 1.3em;
    text-align: left; 
    padding: 5px 15px; 
}

.description { 
    text-align: left;
    padding: 5px 15px; 
    color: #8e8e8e;
}

.box{
    width: 200px; 
    height:100px; 
    
}

.box-s{
    width: 200px; 
    height: 75px;
}

.roed{
    background-color: #C31414; 
}

.hvid{
    background-color: #fff; 
}

.sort{
    background-color: #000; 
}

.licorice{
    background-color: #333333; 
}

.succes{
    background-color: #12872A;
}

.error{
    background-color: #EF0D0D; 
}

.dim-gray{
    background-color: #646464; 
}

.bread{
    background-color: #DB951E; 
}

.mustard{
    background-color: #FFE65F; 
}

.olive{
    background-color: #90AE3C; 
}

.apple{
    background-color: #73AE5F; 
}

.gum{
    background-color: #73B8BD; 
}

.milk{
    background-color: #7DAEDB; 
}

.blueberry{
    background-color: #5A6EAE; 
}

.redwine{
    background-color: #8C1419; 
}

.coconut{
    background-color: #9A867D; 
}

.mine-shaft{
    background-color: #333333;
}

.gray{
    background-color: #8E8E8E;
}

.silver{
    background-color: #CCCCCC;
}

.gallery{
    background-color: #EBEBEB;
}

.sand{
    background-color: #F8F7F4; 
}

.bread-1{
    background-color: #B9780F; 
}

.bread1{
    background-color: #EBC369; 
}

.bread2{
    background-color: #F5DCA5; 
}

.bread3{
    background-color: #F5EBD7; 
}

.mustard-1{
    background-color: #f5D74B;
}

.mustard1{
    background-color: #FFEB96;
}

.mustard2{
    background-color: #FFF0BE;
}

.mustard3{
    background-color: #FFF5DC;
}

.olive-1{
    background-color: #7D9B2D;
}

.olive1{
    background-color: #C8DC96;
}

.olive2{
    background-color: #D7E1B4; 
}

.olive3{
    background-color: #E1EBD2;
}

.apple-1{
    background-color: #559641;
}

.apple1{
    background-color: #AFCD88;
}

.apple2{
    background-color: #D2E1C8;
}

.apple3{
    background-color: #E6EBE6;
}

.gum-1{
    background-color: #4BA5AA
}

.gum1{
    background-color: #A0CDD2;
}

.gum2{
    background-color: #CDE1E6;
}

.gum3{
    background-color: #E6F0F0
}

.milk-1{
    background-color: #558CBE;
}

.milk1{
    background-color: #B9D4F2;
}

.milk2{
    background-color: #CDE1F5;
}

.milk3{
    background-color: #E1EBFA; 
}

.blueberry-1{
    background-color: #374b91;
}

.blueberry1{
    background-color: #A0AAD7;
}

.blueberry2{
    background-color: #CDD2EB;
}

.blueberry3{
    background-color: #E6E6F5; 
}

.redwine-1{
    background-color: #690A0C;
}

.redwine1{
    background-color: #B47378;
}

.redwine2{
    background-color: #E6CDCD;
}

.redwine3{
    background-color: #F0E6E6;
}

.coconut-1{
    background-color: #7D695F;
}

.coconut1{
    background-color: #C3B4AA;
}

.coconut2{
    background-color: #DCD7C8;
}

.coconut3{
    background-color: #EBEBE1; 
}