*{
    font-family: "Raleway", sans-serif;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

/*Index (Log ind)*/
.form-index{
    background-color: #F8F7F4;
    height: 100vh;  
}

.header-container-index{
    text-align: center; 
    padding: 48px 0; 
}

.header-container-index img{
    height: 40px; 
}

.h1-index{
    font-size: 20px;
    padding: 16px 0 12px;
}

.container-index{
    display: flex; 
    flex-direction: column;
    padding: 20px 40px 40px; 
}

.glemt-password{
    display: flex; 
    justify-content: center; 
    font-size: 12px; 
    padding-bottom: 12px; 
}

.glemt-password p a{
    color: #333; 
    text-decoration: none; 
}

.glemt-password p a:active{
    font-weight: 600; 
}

.buttons-index{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.btn-index{
    padding: 12px; 
    margin: 8px 0 16px;; 
    cursor: pointer; 
    width: 60%; 
}

.btn-index:active{
    font-weight: 600; 
    outline: none; 
}

.bottom-index{  
    display: flex; 
    justify-content: center; 
    margin-top: 100px; 
}

.bottom-index p{
    font-size: 12px; 
}

.bottom-index p a{
    color: #333; 
    text-decoration: none; 
}

.bottom-index p a:active{
    font-weight: 600; 
}

/*Success - profil oprettet*/ 
.success{
    background-color: #F8F7F4; 
    height: 100vh; 
}

.success-icon{
    padding: 200px 0 0; 
    font-size: 100px; 
    display: flex; 
    justify-content: center; 
}

.fa-check-circle {
    color: #12872A; 
}

.success-tekst{
    display: flex; 
    justify-content: center;
    text-align: center; 
    padding: 12px 0 150px; 
}

.buttons-success{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.btn-success{
    padding: 12px; 
    margin: 8px 0 16px;; 
    cursor: pointer; 
    width: 60%; 
}

.btn-success:active{
    font-weight: 600; 
    outline: none; 
}

/*Opret profil*/ 
.form-op{
    background-color: #F8F7F4;
    height: 100%;
}

.header-container-op{
    text-align: center; 
    padding: 24px 0 0; 
}

.header-container-op img{
    height: 40px; 
}

.h1-op{
    font-size: 20px;
    padding: 16px 0 12px;
}

.container-op{
    display: flex; 
    flex-direction: column;
    padding: 20px 40px 40px; 
}

label{
    font-size: 12px; 
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px; 
    margin: 5px 0 20px; 
    display: inline-block; 
    background-color: #fff;
    border-radius: 5px; 
    font-size: 12px; 
    border: 1px solid rgba(204, 204, 204, 0.5); 
    outline: none; 
}

::placeholder{
    font-size: 12px; 
    color: #ccc; 
}

/*Internet explorer*/
:-ms-input-placeholder{
    font-size: 12px; 
    color: #ccc;
}

/*Microsoft edge*/
::-ms-input-placeholder{
    font-size: 12px; 
    color: #ccc;
}

.nyhedsmail-op{
    margin-bottom: 40px; 
}

.buttons-op{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.btn-op{
    padding: 12px; 
    margin: 8px 0 16px; 
    cursor: pointer; 
    width: 60%; 
}

.btn-roed{
    background-color: #C31414;
    color: #fff; 
    border-radius: 5px; 
    border: 2px solid #C31414;
}

.btn-hvid{  
    background-color: #fff; 
    border-radius: 5px; 
    border: 2px solid #C31414;
}

.btn-roed a{
    text-decoration: none; 
    color: #fff; 
}

.btn-hvid a{
    color: #C31414; 
    text-decoration: none; 
}

.btn-op:active{
    font-weight: 600; 
    outline: none; 
}

.bottom-op{ 
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.bottom-op img{
    height: 14px; 
    width: 14px; 
}

.bottom-op p{
    font-size: 8px;
    padding-left: 12px; 
}

.bottom-op p a{
    color: #C31414; 
    text-decoration: none; 
}

.bottom-op p a:active{
    font-weight: 600; 
}

/*Header*/
#header {
  background-color: #C31414;
  padding: 10px 10px;
  color: white;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
#header a {
  color: white;
}

#header + .welcome {
  padding-top: 50px;
}

/* Frontpage */
.container-hjem{
    margin-bottom: 55px; 
}

.row1 {
  display: flex;
}

.column1 {
  flex: 33.33%;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  width: 100%;
  height: auto; 
}

.column1 img{
 border-radius: 5px;
 width: 100%;
 border: 1px solid rgba(204, 204, 204, 0.5);
}

.welcome{
    margin-top: 30px;
    padding: 0 20px; 
}

.welcome h1{
    margin-bottom: 5px; 
}

.welcome p{
    font-size: 14px;
    line-height: 20px; 
    padding-bottom: 20px
}

.welcome h1, h3 {
  text-align: center;
}

.button-inspiration{
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding-bottom: 10px; 
}

.btn-inspi{
    margin-bottom: 5px; 
    padding: 4px 12px; 
    cursor: pointer; 
    width: 50%; 
}

.btn-hvid{  
    background-color: #fff; 
    border-radius: 5px; 
    border: 2px solid #C31414;
}

.btn-hvid a{
    color: #C31414; 
    text-decoration: none; 
}

.btn-inspi:active{
    font-weight: 600; 
    outline: none; 
}

.tekst h4 , h5 {
  text-align: left;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

.tekst h5 {
  color: #C31414;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

/* Navigations stil */

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  overflow-x: auto;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Raleway';
  font-size: 15px;
  color: #444444;
  text-decoration: none;
  transition: background-color 0.1s ease-in-out;
}

.nav__link--active {
  color: #d20a11;
}

.nav__icon {
  font-size: 24px;
}

  /* Knappen på navigationen plus tegn */
  .button {
    background-color: white;
    padding: 1em 2em;
    color: #fff;
    border: 0;
    cursor: pointer;
  }

  .button:hover{
/* Begyndelse på modals stil */

  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

/* Modals størrelse og placering på siden */

  .modal-content {
    margin: 60% auto;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  }

/* Stilen af modal */
  .modal-body {
    padding: 10px 25px;
    background: #e9e4e4;
    color: black;
    text-align: center;
    font-size: 18px;
  }

  .modal-body p {
    font-weight: bold;
  }

  /* Ja knappens stil */
    .button_modal {
      background-color: #C31414;
  	  border: 1px solid none;
      border-radius: 30px;
  	  text-decoration: none;
  	  padding: 10px 28px;
  	  color: white;
  	  margin-top: 10px;
      display: inline-block;
  }

  .button_modal:hover {
      color: #C31414;
      text-decoration: none;
      cursor: pointer;
  }
  /* nej knappens stil */
  .button_modal1 {
      background-color: white;
  	  border: 1px solid none;
  	  border-radius: 30px;
  	  text-decoration: none;
  	  padding: 10px 28px;
  	  color: #C31414;
  	  margin-top: 10px;
      display: inline-block;
  }

  .button_modal1:hover {
      color: white;
      text-decoration: none;
      cursor: pointer;
  }
  .button_modal , .button_modal1 {
      margin-right: 10px;
      margin-left: 10px;
      font-weight: bold;
  }

/* Stilen på lukkeknappen */
  .close {
      color: black;
      float: right;
      font-size: 30px;
      color: black;
  }

  .close:hover,
  .close:focus {
      color: white;
      text-decoration: none;
  }

  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


/*Profilepage*/
#header + .profilepage h2{
  padding-top: 50px;
  text-align: center;
}

.profile-menu {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
}
.profile-menu a{
  padding: 15px;
  text-decoration: none;
  text-align: left;
  padding-left: 15px;
  border-radius: 5px;
  color: black;
  background: #ffffff;
  box-shadow:5px 5px 5px rgba(0,0,0,0.2);
}

.log-ud {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
}

.log-ud a{
  padding: 15px;
  text-decoration: none;
  text-align: center;
  padding-left: 15px;
  border-radius: 5px;
  color: #C31414;
  font-weight: bold;
  background: #ffffff;
  box-shadow:5px 5px 5px rgba(0,0,0,0.2);
}

.profilepage h2{
  text-align: center;
}

/* Ikoner css - css fra icomoon, for at få ikonerne til at virke*/

/* ikke en style, men fra icomoon, så ikonerne kan virke på siden.
Er klar over når, man validere koden, så vil den komme med fejl på linje 194*/


@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?enb7ro');
  src:  url('fonts/icomoon.eot?enb7ro#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?enb7ro') format('truetype'),
    url('fonts/icomoon.woff?enb7ro') format('woff'),
    url('fonts/icomoon.svg?enb7ro#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

}

.icon-tilbud9:before {
  content: "\e900";
}
.icon-hjem2:before {
  content: "\e908";
}
.icon-liste2:before {
  content: "\e909";
}
.icon-profil2:before {
  content: "\e90b";
}
.icon-plus1:before {
  content: "\e906";
  color: #d20a11;
}


/* Style the tab content */
.tabcontent {
    display: none;
}

.afslut {
    display: none;
}

#kurv {
    display: none;
}

.tabcontent {
  display: none;
}

#activediv {
    display: none;
}

.alert {
    display: none;
}

div[class*="tabcontent"]:first-of-type {
    display: block;
} 

.shop-items img {
    width: 20vw;
    height: 20vw;    
    margin-top: -2.5vh;
}

.shop-items {
    padding: 10px 10px;
}


#innerwrapper {
    display: flex;
    justify-content: space-between; 
}

#spanwrapper {
    padding-left: 10px;
}

.shop-item-details {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5vh;
}

.shop-items li {
    list-style-type: none;
    padding-bottom: 1vh;
}


.shop-items .shop-item-button  {
    padding: 0;
    margin: 0;
    margin-top: 1vh;  
    height: 7vw;
    width: 20vw;  
    background-color: #73ae5f;
    border-radius: 5px;
    border-style: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 10px;
}

.shop-items .shop-item-button:active  {
    background-color: #90ae3c;
}

.kategori {
    padding: 10px;
    margin: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

.groent {
  background: #73ae5f;   
}

.broed {
  background: #db951e;   
}

.majeri {
  background: #7daedb;   
}

.koed {
  background: #C31414;   
}

.kolonial {
  background: #9a867d;   
}

.header-produkter {
    display: flex;
    flex-wrap: wrap;
}

.header-produkter p {
    text-align: center; 
}

.header-produkter a {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.header-produkter div {
    display: flex;
    width: 100%;
}

#filterInput {
    width: 100%;
    height: 26px;
    padding-left: 10px;
    margin-right: 4vw;
    border: none;
    border-radius: 5px;
    color: #000000;
}

#filterInput::placeholder {
    color: #000000;
}

.indkoebsliste {
    padding: 10px;
    font-size: 15px;
}

.indkoebsliste img {
    width: 15vw;
    height: 15vw; 
    padding-right: 10px; 
}

.indkoebsliste .cart-row {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr;
}

.cart-row .cart-item {
    padding: 0;
    display: flex;
}

.cart-row .cart-item span {
    margin-top: 3vh;
}

.cart-row .cart-price.cart-header {
    margin-top: 1vh;
}

.indkoebsliste .cart-header {
    font-weight: bold; 
    margin-top: 1vh;
    margin-bottom: 1vh;    
}

.cart-row .cart-price {
    margin-top: 3vh;
}

.indkoebsliste input {
    border: none;
    width: 15vw;
    height: 7vw;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}
.indkoebsliste .btn-boern {
    width: 100%;
    height: auto;    
    font-size: 16px;
    padding: 10px;
}

.indkoebsliste button  {
    padding: 0;
    margin: 0;
    margin-top: 1vh;  
    margin-bottom: 1vh;     
    height: 7vw;
    width: 15vw;  
    background-color: #73ae5f;
    border-radius: 5px;
    border-style: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 10px;
}

.indkoebsliste button:active  {
    background-color: #90ae3c;
}

.indkoebsliste button:checked  {
    background-color: #90ae3c;
}

.cart-total {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr;
    font-size: 15px;
    margin-top: 1vh;    
}

.cart-total .cart-total-price {
    text-align: center;
}
