*{
    font-family: "Raleway", sans-serif;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

/*Index (Log ind)*/
.form-index{
    background-color: #F8F7F4;
    height: 100vh;  
}

.header-container-index{
    text-align: center; 
    padding: 48px 0; 
}

.header-container-index img{
    height: 40px; 
}

.h1-index{
    font-size: 20px;
    padding: 16px 0 12px;
}

.container-index{
    display: flex; 
    flex-direction: column;
    padding: 20px 40px 40px; 
}

.glemt-password{
    display: flex; 
    justify-content: center; 
    font-size: 12px; 
    padding-bottom: 12px; 
}

.glemt-password p a{
    color: #333; 
    text-decoration: none; 
}

.glemt-password p a:active{
    font-weight: 600; 
}

.buttons-index{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.btn-index{
    padding: 12px; 
    margin: 8px 0 16px;; 
    cursor: pointer; 
    width: 60%; 
}

.btn-index:active{
    font-weight: 600; 
    outline: none; 
}

.bottom-index{  
    display: flex; 
    justify-content: center; 
}

.bottom-index p{
    font-size: 12px; 
}

.bottom-index p a{
    color: #333; 
    text-decoration: none; 
}

.bottom-index p a:active{
    font-weight: 600; 
}

/*Success - profil oprettet*/ 
.success{
    background-color: #F8F7F4; 
    height: 100vh; 
}

.success-icon{
    padding: 200px 0 0; 
    font-size: 100px; 
    display: flex; 
    justify-content: center; 
}

.fa-check-circle {
    color: #12872A; 
}

.success-tekst{
    display: flex; 
    justify-content: center;
    text-align: center; 
    padding: 12px 0 150px; 
}

.buttons-success{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.btn-success{
    padding: 12px; 
    margin: 8px 0 16px;; 
    cursor: pointer; 
    width: 60%; 
}

.btn-success:active{
    font-weight: 600; 
    outline: none; 
}

/*Opret profil*/ 
.form-op{
    background-color: #F8F7F4;
    height: 100vh;
}

.header-container-op{
    text-align: center; 
    padding: 24px 0 0; 
}

.header-container-op img{
    height: 40px; 
}

.h1-op{
    font-size: 20px;
    padding: 16px 0 12px;
}

.container-op{
    display: flex; 
    flex-direction: column;
    padding: 20px 40px 40px; 
}

label{
    font-size: 12px; 
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px; 
    margin: 5px 0 20px; 
    display: inline-block; 
    background-color: #fff;
    border-radius: 5px; 
    font-size: 12px; 
    border: 1px solid rgba(204, 204, 204, 0.5); 
    outline: none; 
}

::placeholder{
    font-size: 12px; 
    color: #ccc; 
}

/*Internet explorer*/
:-ms-input-placeholder{
    font-size: 12px; 
    color: #ccc;
}

/*Microsoft edge*/
::-ms-input-placeholder{
    font-size: 12px; 
    color: #ccc;
}

.showHide-password{
    display: flex; 
    flex-direction: row; 
}

.nyhedsmail-op{
    margin-bottom: 40px; 
}

.buttons-op{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.btn-op{
    padding: 12px; 
    margin: 8px 0 16px; 
    cursor: pointer; 
    width: 60%; 
}

.btn-roed{
    background-color: #C31414;
    color: #fff; 
    border-radius: 5px; 
    border: 2px solid #C31414;
}

.btn-hvid{  
    background-color: #fff; 
    border-radius: 5px; 
    border: 2px solid #C31414;
}

.btn-roed a{
    text-decoration: none; 
    color: #fff; 
}

.btn-hvid a{
    color: #C31414; 
    text-decoration: none; 
}

.btn-op:active{
    font-weight: 600; 
    outline: none; 
}

.bottom-op{ 
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.bottom-op img{
    height: 14px; 
    width: 14px; 
}

.bottom-op p{
    font-size: 8px;
    padding-left: 12px; 
}

.bottom-op p a{
    color: #C31414; 
    text-decoration: none; 
}

.bottom-op p a:active{
    font-weight: 600; 
    
}

* {
    font-family: "Raleway", sans-serif; 
}

/* Style the tab content */
.tabcontent {
    display: none;
}

.afslut {
    display: none;
}

#kurv {
    display: none;
}

.tabcontent {
  display: none;
}

#activediv {
    display: none;
}

.alert {
    display: none;
}

div[class*="tabcontent"]:first-of-type {
    display: block;
} 

.shop-items img {
    width: 20vw;
    height: 20vw;    
    margin-top: -2.5vh;
}

.shop-items {
    padding: 10px 10px;
}


#innerwrapper {
    display: flex;
    justify-content: space-between; 
}

#spanwrapper {
    padding-left: 10px;
}

.shop-item-details {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5vh;
}

.shop-items li {
    list-style-type: none;
    padding-bottom: 1vh;
}


.shop-items .shop-item-button  {
    padding: 0;
    margin: 0;
    margin-top: 1vh;  
    height: 7vw;
    width: 20vw;  
    background-color: #73ae5f;
    border-radius: 5px;
    border-style: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 10px;
}

.shop-items .shop-item-button:active  {
    background-color: #90ae3c;
}

.kategori {
    padding: 10px;
    margin: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

.groent {
  background: #73ae5f;   
}

.broed {
  background: #db951e;   
}

.majeri {
  background: #7daedb;   
}

.koed {
  background: #C31414;   
}

.kolonial {
  background: #9a867d;   
}

.header-produkter p {
    padding: 0;
    margin: 0;
}

.header-produkter a {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.header-produkter {
    display: flex;
    flex-wrap: wrap;
}

.header-produkter div {
    display: flex;
    width: 100%;
}

#filterInput {
    width: 100%;
    height: 26px;
    padding-left: 10px;
    margin-right: 4vw;
    border: none;
    border-radius: 5px;
    color: #000000;
}

#filterInput::placeholder {
    color: #000000;
}

.indkoebsliste {
    padding: 10px;
    font-size: 15px;
}

.indkoebsliste img {
    width: 15vw;
    height: 15vw; 
    padding-right: 10px; 
}

.indkoebsliste .cart-row {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr;
}

.cart-row .cart-item {
    padding: 0;
    display: flex;
}

.cart-row .cart-item span {
    margin-top: 3vh;
}

.cart-row .cart-price.cart-header {
    margin-top: 1vh;
}

.indkoebsliste .cart-header {
    font-weight: bold; 
    margin-top: 1vh;
    margin-bottom: 1vh;    
}

.cart-row .cart-price {
    margin-top: 3vh;
}

.indkoebsliste input {
    border: none;
    width: 15vw;
    height: 7vw;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}
.indkoebsliste .btn-boern {
    width: 100%;
    height: auto;    
    font-size: 16px;
    padding: 10px;
}

.indkoebsliste button  {
    padding: 0;
    margin: 0;
    margin-top: 1vh;  
    margin-bottom: 1vh;     
    height: 7vw;
    width: 15vw;  
    background-color: #73ae5f;
    border-radius: 5px;
    border-style: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 10px;
}

.indkoebsliste button:active  {
    background-color: #90ae3c;
}

.indkoebsliste button:checked  {
    background-color: #90ae3c;
}

.cart-total {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr;
    font-size: 15px;
    margin-top: 1vh;    
}

.cart-total .cart-total-price {
    text-align: center;
}
